@import helper._

@(formArtista: Form[base.Artista])

@main("Cadastre-se"){

	<h3 id="register-title">Formulário Artista</h3>
	<div id="form-cadastrar">
		@helper.form(action = helper.CSRF(routes.ArtistaController.create())){
					@helper.inputText(formArtista("cpf"),'_label -> ("CPF:"))
                    @helper.inputText(formArtista("nome"),'_label -> ("Nome:"))
                    @helper.inputText(formArtista("email"),'_label -> ("E-mail:"))
					@helper.inputPassword(formArtista("senha"),'_label -> ("Senha:"))
					@helper.inputDate(formArtista("date"),'_label -> ("Data de Nascimento:"))
					@helper.inputFile(formArtista("foto"),'_label -> ("Imagem do perfil:"))
					<h3>Endereço:</h3>	
					@helper.inputText(formArtista("cep"),'_label -> ("CEP:"))
					@helper.inputText(formArtista("rua"),'_label -> ("Rua:"))
					@helper.inputText(formArtista("complemento"),'_label -> ("Complemento:"))
					@helper.inputText(formArtista("cidade"),'_label -> ("Cidade:"))
					@helper.inputText(formArtista("estado"),'_label -> ("Estado:"))
					@helper.inputText(formArtista("pais"),'_label -> ("País:"))
					
					<div class="row">
						<div class="col-md-4"><a href="/" class="btn btn-primary">Voltar</a></div>	
						<div class="col-md-4"><button type="Submit"  class="btn btn-success">Cadastrar</button></div>	
					</div>

					@if(formArtista.hasGlobalErrors) {
						<p class="error">
							@for(error <- formArtista.globalErrors) {
								<p>@error.format(messages())</p>
							}
						</p>
					}
		}
	</div>

}