@import helper._

@(contratanteForm: Form[base.Contratante])
@main("Cadastre-se"){
	<h1 id="register-title">Formulário Contratante</h1>
	<div id="form-cadastrar">
		@helper.form(action = helper.CSRF(routes.ContratanteController.create())){
					@helper.inputText(contratanteForm("cpf"))
					@helper.inputText(contratanteForm("nome"))
					@helper.inputText(contratanteForm("senha"))
					@helper.inputText(contratanteForm("cep"))
					@helper.inputText(contratanteForm("rua"))
					@helper.inputText(contratanteForm("complemento"))
					@helper.inputText(contratanteForm("cidade"))
					@helper.inputText(contratanteForm("estado"))
					@helper.inputText(contratanteForm("pais"))
					@helper.inputDate(contratanteForm("date"))
					
					<button type="Submit"  class="btn btn-success">Cadastrar</button>
		}
	</div>

}