@import helper._

@(contratanteForm: Form[base.Contratante])
@main("Cadastre-se"){
	<h3 id="register-title">Formulário Contratante</h3>
	<div id="form-cadastrar">
		@helper.form(action = helper.CSRF(routes.ContratanteController.create())){
					@helper.inputText(contratanteForm("cpf"))
					@helper.inputText(contratanteForm("nome"))
					@helper.inputText(contratanteForm("email"))
					@helper.inputText(contratanteForm("senha"))
					@helper.inputText(contratanteForm("cep"))
					@helper.inputText(contratanteForm("rua"))
					@helper.inputText(contratanteForm("complemento"))
					@helper.inputText(contratanteForm("cidade"))
					@helper.inputText(contratanteForm("estado"))
					@helper.inputText(contratanteForm("pais"))
					@helper.inputDate(contratanteForm("date"))
					
					<div class="row">
						<div class="col-md-4"><a href="/" class="btn btn-primary">Voltar</a></div>	
						<div class="col-md-4"><button type="Submit"  class="btn btn-success">Cadastrar</button></div>	
					</div>
				
		}
	</div>

}