@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <section id="top" >
        <div class="wrapper">
            <h1>ShowUp!</h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">

        <form action="@routes.HomeController.login">

            <label for="email">E-mail:</label>
            <input name="email" id="email">
            <label for="password">Senha:</label>
            <input name="password" id="password">
            <button type="submit">Login</button>
            <a href="@routes.HomeController.register">Cadastre-se</a>

        </form>



    </div>
}
