@(message: String, style: String = "java")

@main(message) { 

    <section id="top" >
        <div class="wrapper">
            <h1>ShowUp!</h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">
        
        <div class="row" id="div-links">
            <div class="col-md-12">
              <a class=" btn btn-success" href="#">Login with facebook</a>
            </div>
            <div class="col-md-12">
             <a class=" btn btn-success" href="#">Login</a>
            </div>
            <div class="col-md-12">
                <a class=" btn btn-success" href="@routes.HomeController.registerContratante">Cadastre-se Contratante</a>
            </div>
            
            <div class="col-md-12">
                <a class=" btn btn-success" href="@routes.HomeController.registerArtista">Cadastre-se Artista</a>
            </div>
        </div>

    </div>
}
