@(message: String, style: String = "java")

@main(message) { 

        <nav class="navbar navbar-light bg-light">
            <span id="brand-title" class="navbar-brand mb-0 h1">ShowUp!</span>
        </nav>
    
        
        <div class="row" id="div-links">
            <div class="col-md-12">
              <a class=" btn btn-primary" href="#">Login with facebook</a>
            </div>
            <div class="col-md-12" id="btn-login">
             <a class=" btn btn-success" href="#">Login</a>
            </div>
            <div class="col-md-12">
                <a class=" btn btn-secondary" href="@routes.HomeController.registerContratante">Cadastre-se Contratante</a>
            </div>
            
            <div class="col-md-12">
                <a class=" btn btn-info" href="@routes.HomeController.registerArtista">Cadastre-se Artista</a>
            </div>
        </div>

    
}
